### Test workflow for conditional execution based on directory changes
name: Conditional Workflow for dir_a
on:
  push:
    branches:
      - main
    paths:
      - 'dir_a/**'  # Trigger only if files in the 'dir_a' directory are changed
env:
  REGISTRY: ghcr.io
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version
        id: version
        run: echo "VERSION=$(cat backend/VERSION)" >> $GITHUB_OUTPUT
        
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/dintenr/dir_a:${{ steps.version.outputs.VERSION }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./dir_a
          push: true
          tags: ${{ env.REGISTRY }}/dintenr/dir_a:${{ steps.version.outputs.VERSION }}
          labels: ${{ steps.meta.outputs.labels }}